.mainform-overlay {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.mainform {
  width: 86%;
  height: 92%;
  margin: auto;
  border-radius: 1rem;
  background: rgba(var(--main-color-rgb), 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: 2px 2px 1rem 0px rgba(0, 0, 0, 0.25);
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.mainform-right {
  padding: 2rem;
}

.mainform-right {
  // background: var(--main-color);
  background: transparent;
  border-radius: 0rem 1rem 1rem 0rem;
  width: 50%;
}

.mainform-left {
  width: 50%;
  color: var(--secondary-color);
  background: transparent;
  padding: 1rem 2rem;
}

.mainform-left h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: bold;
  cursor: default;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    bottom: -0.6rem;
    left: 0;
    background: var(--secondary-color);
  }
}

.reservar-vuelo-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4rem;
  margin: 2rem 0;
}

.reservar-vuelo-form > * {
  flex-basis: 100%;
}

.reservar-vuelo-form > * + * {
  margin-top: 1rem;
}

.reserva-vuelo-boton {
  margin-top: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  background: var(--main-color);
  font-family: var(--ff);
  color: var(--normal-white);
  transition: all 0.2s ease-out;

  &:hover {
    background: var(--main-color-hover);
  }
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.form-control > * {
  flex: 1 1 100%;
}
