@font-face {
  font-family: "Coolvetica";
  src: url("/coolvetica-rg.ttf");
}

:root {
  --font: 16px;
  --ff: "Montserrat", sans-serif;
  --fft: "Coolvetica-rg", sans-serif;

  --nav-height: 4rem;

  --main-color-rgb: 0, 32, 96;
  --main-color: rgb(var(--main-color-rgb));

  --blue-color-rgb: 34, 86, 163;
  --blue-color: rgb(var(--blue-color-rgb));
  --blue-color-transparent: rgba(var(--blue-color-rgb), 0.3);

  --secondary-color: #fafafa;
  --secondary-color-hover: #ddd;
  --normal-white: #f7f7f7;
  --black: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff);
}

button {
  font-family: var(--ff);
  background: 0;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}
