.pointer {
  cursor: pointer;
}

.header {
  height: var(--nav-height);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background: var(--main-color);
}

.navbar,
.extranav {
  height: 100%;
  display: flex;
  align-items: center;
}

.extranav {
  margin-left: auto;
}

.extranavlink {
  color: var(--secondary-color);
  font-size: 0.88rem;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  transition: all ease 0.3s;

  &:hover {
    background: rgba(var(--normal-white-rgb), 0.14);
  }
}

.navbar {
  margin-left: 2rem;
}

.navbar > * + * {
  margin-left: 1.4rem;
}

.activelink {
}

.navbarlink {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all ease 0.25s;
  font-size: 0.88rem;

  &:hover {
    color: var(--secondary-color-hover);
  }
}

.logo {
  display: block;
  height: 80%;
}

.logotitle {
  margin-left: 0.2rem;
  font-family: var(--fft);
  color: var(--normal-white);
  font-size: 1.6rem;
}

.container,
.navcontainer {
  width: min(96%, 1340px);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.navcontainer {
  align-items: center;
}

.banner {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/fondo.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh - var(--nav-height));
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logoytitulo {
  height: 70%;
  overflow: visible;
  margin: auto;
  display: block;
  transform: translateX(-1.5rem);
}

.cls-1 {
  font-size: 110px;
  font-family: var(--fft);
  font-weight: bold;
  letter-spacing: -4px;
}

.cls-1,
.cls-2,
.cls-5 {
  fill: var(--blue-color);
}

.godownbtn {
  width: 3.4rem;
  position: absolute;
  bottom: 1rem;
  cursor: pointer;
  opacity: 0.4;
  transition: all ease 0.3s;
  &:hover {
    opacity: 1;
  }
}

.mainform-overlay {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.mainform {
  width: 86%;
  height: 92%;
  margin: auto;
  border-radius: 1rem;
  background: rgba(var(--main-color-rgb), 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: 2px 2px 1rem 0px rgba(0, 0, 0, 0.25);
  position: relative;

  display: flex;
  flex-wrap: wrap;

  // &::before {
  //   content: "";
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   left: 50%;
  //   background: var(--main-color);
  //   position: absolute;
  //   border-radius: 0rem 1rem 1rem 0rem;
  //   z-index: -1;
  // }
}

.mainform-right {
  // background: var(--main-color);
  background: transparent;
  border-radius: 0rem 1rem 1rem 0rem;
  width: 50%;
}

.mainform-left {
  width: 50%;
  color: var(--secondary-color);
  background: transparent;
  padding: 1rem 2rem;
}

.mainform-left h2 {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: default;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    bottom: -0.6rem;
    left: 0;
    background: var(--secondary-color);
  }
}

.reservar-vuelo-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.4rem;
  margin: 2rem 0;
}

.reservar-vuelo-form > * {
  flex-basis: 100%;
}

.reservar-vuelo-form > * + * {
  margin-top: 1rem;
}

.reserva-vuelo-boton {
  margin-top: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  background: var(--main-color);
  font-family: var(--ff);
  color: var(--normal-white);
  transition: all 0.2s ease-out;

  &:hover {
    background: var(--main-color-hover);
  }
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.form-control > * {
  flex: 1 1 100%;
}

.select {
  height: 3rem;
  position: relative;
  border: white solid 1px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.select .current-value {
  color: var(--normal-white);
  font-family: var(--ff);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.4rem;
  z-index: 10;
}

.select .options > * {
  flex: 1 1 100%;
}

.select .options .option {
  background: var(--main-color);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--normal-white-rgb), 0.05);
    border-radius: 0.5rem;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

.date-input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-input .input {
  height: 3rem;
  position: relative;
  border: white solid 1px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.date-input .input .current-value {
  color: var(--normal-white);
  font-family: var(--ff);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.date-input .calendario {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.4rem;
  background: transparent;
  padding: 1.4rem;
  box-shadow: 1px 1px 1.4rem 0px rgba(var(--black-rgb), 0.5);
  color: var(--normal-white);
  border-radius: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //background-color: rgba(var(--normal-white-rgb), 0.6);
    background: var(--main-color);
    //backdrop-filter: blur(5rem);
    z-index: -1;
    border-radius: 0.5rem;
  }
}

.mes-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.mes-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.mes-titulo > * + * {
  margin-left: 0.3rem;
}

.mes-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.mes-day,
.mes-dia {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  // color: var(--normal-white);
  // font-family: var(--ff);
}

.mes-dia {
  justify-content: center;
  font-weight: 700;
}

.mes-day {
  justify-content: center;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--normal-white-rgb), 0.1);
    border-radius: 0.4rem;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--normal-white-rgb), 0.1);
    border-radius: 0.4rem;
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }
}

.mes-first-day-1 {
  grid-column-start: 1;
}
.mes-first-day-2 {
  grid-column-start: 2;
}
.mes-first-day-3 {
  grid-column-start: 3;
}
.mes-first-day-4 {
  grid-column-start: 4;
}
.mes-first-day-5 {
  grid-column-start: 5;
}
.mes-first-day-6 {
  grid-column-start: 6;
}
.mes-first-day-7 {
  grid-column-start: 7;
}
